# В этом файле можно оставлять комментарии
# Имя файла .gitignore
# Файл нужно создать самостоятельно

# Каждая строчка — это шаблон, по которому происходит игнорирование

# Игнорируется файл в любой директории проекта
MatlabReferences/gui_cellcount/*
MatlabReferences/gui_morph/*
MatlabReferences/gui_preproc/*
packages/*
obj/*
bin/*
.vs/*